<tr>
    <td class="text-center">

        {{ elt.type }}

    </td>
    <td>
        {{ elt.title }}
        <ul>
            <li>year: {{ elt.year }}</li>
        </ul>
    </td>
    <td>
        {% for element in elt.authors.author %}
            <i class="fa fa-user"></i>
            {{ element }}
            <br />
        {% endfor %}
    </td>
</tr>
