<tr>
  <td class="text-center">

    {{ elt.type }}

  </td>
  <td>
    {% if elt.pdf_url %}
      <a href="{{ elt.pdf_url }}" target="_blank">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> &nbsp;
    {% endif %}

    {{ elt.title }}
    <ul>
      <li>date: {{ elt.date }}</li>
    </ul>
  </td>
  <td>
    {% for element in elt.authors %}
    <i class="fa fa-user"></i>
    {{ element.name.first }} {{ element.name.last }}
    <br />
    {% endfor %}
  </td>
</tr>
