<tr>
  <td class="text-center">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </td>
  <td class="text-center">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </td>
  <td class="text-center">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </td>
</tr>
