<tr>
    <td class="text-center">

        {{ elt.docType_s }}<br />

        <i class="fa fa-university"
            aria-hidden="true"
            alt="{{ elt.collCode_s }}"
            title="{{ elt.collCode_s }}" ></i>
        {% if elt.collCode_s and regExp.test(elt.collCode_s.join(',')) %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        {% endif %}

    </td>
    <td>

      {% if elt.fileMain_s %}
        <a href="{{ elt.fileMain_s }}" target="_blank">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a> &nbsp;
      {% endif %}

      <a href="https://hal.archives-ouvertes.fr/{{ elt.halId_s }}" target="_blank">
        <i class="fa fa-link" aria-hidden="true"></i></a> &nbsp;



        {{ elt.title_s }}
        <ul>
            {# <li>{{ elt.ePublicationDate_s }}</li> always undefined #}
            <li>journal date: {{ elt.journalDate_s }}</li>
            <li>produced date: {{ elt.producedDate_s }}</li>
            <li>submitted date: {{ elt.submittedDate_s }}</li>
            {# <li>{{ elt.releasedDate_s }}</li> <=> submitted date #}
            {# <li>{{ elt.writingDate_s }}</li> always undefined #}
        </ul>
    </td>
    <td>
        {% for element in elt.authLastNameFirstName_s %}
            <i class="fa fa-user" title="{{ elt.authId_i[loop.index-1] }}" alt="{{ elt.authId_i[loop.index-1] }}"></i>
            {{ element }}
            <br />
        {% endfor %}
    </td>
</tr>
