<h4 class="count"></h4>

<table class="docs table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="type text-center">type</th>
            <th class="title">title</th>
            <th class="authors">authors</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
