<form>
  <div class="input-group col-md-12">
    <input id="halQuery" type="text" class="form-control" placeholder="Hal Query" />
    <span class="input-group-btn">
      <button id="halQueryBtn" class="btn btn-default" type="button">
        <i class="fa fa-search"></i>
      </button>
      <a href="https://api.archives-ouvertes.fr/docs/search" class="btn btn-default" type="button">
        <i class="fa fa-book"></i>
      </a>
    </span>
  </div>
</form>

<h4 class="count"></h4>

<table class="docs table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="type text-center">type</th>
      <th class="title">title</th>
      <th class="authors">authors</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
