<form class="autosave">

  <div class="form-group">
    <label for="firstname">First name</label>
    <input type="text" class="form-control" id="firstname" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastname">Last name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="collection">Collection</label>
    <input type="text" class="form-control" id="collection" placeholder="Collection">
  </div>

  <!-- button type="submit" class="btn btn-default">
    <i class="fa fa-save" aria-hidden="true"></i> save
  </button>

  <button type="button" id="upload" class="btn btn-default">
      <i class="fa fa-upload" aria-hidden="true"></i> upload
  </button>

  <button type="button" id="download" class="btn btn-default">
    <i class="fa fa-download" aria-hidden="true"></i> download
  </button -->

</form>

<h4 class="count"></h4>

<table class="authors table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="id text-center">id</th>
            <th class="firstname">first name</th>
            <th class="lastname">last name</th>
            <th class="email">email</th>
            <th class="docs">docs</th>
        </tr>
    </thead>
    <tfoot>
      <tr>
          <th colspan="5" class="rest">api request: <span></span></th>
      </tr>
    </tfoot>
    <tbody></tbody>

</table>
