<tr>
  <td class="text-center">
    {% if elt.idHal_s %}
      <a target="_blank" href="https://cv.archives-ouvertes.fr/{{ elt.idHal_s }}"><i class="fa fa-user"></i></a>
      <br />
      {{ elt.idHal_i }}
      <br />
      {{ elt.idHal_s }}
    {% else %}
      <i class="fa fa-ban"></i>
    {% endif %}
    <br />
    [{{ elt.valid_s }}]
  </td>
  <td>{{ elt.firstName_s }}</td>
  <td>{{ elt.lastName_s }}</td>
  <td>{{ elt.email_s }}</td>
  <td class="numFound-{{ elt.idHal_i }}"></td>

</tr>
