{% include "navbar.njk" %}

<div class="container" id="main">

  <ul id="search" class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active"><a href="#me" aria-controls="me" role="tab" data-toggle="tab">me</a></li>
    <li role="presentation"><a href="#hal" aria-controls="hal" role="tab" data-toggle="tab">hal</a></li>
    <!-- role="presentation"><a href="#dblp" aria-controls="dblp" role="tab" data-toggle="tab">dblp</a></li -->
    <!-- li role="presentation"><a href="#dissem-in" aria-controls="dissem.in" role="tab" data-toggle="tab">dissem.in</a></li -->

  </ul>

  <div class="tab-content">

    <div id="me" role="tabpanel" class="tab-pane active">
      {% include "partials/me.njk" %}
    </div>

    <div id="hal" role="tabpanel" class="tab-pane">
      {% include "partials/hal.njk" %}
    </div>

    <!-- div id="dblp" role="tabpanel" class="tab-pane">
      {% include "partials/docs_table.njk" %}
    </div>

    <div id="dissem-in" role="tabpanel" class="tab-pane">
      {% include "partials/docs_table.njk" %}
    </div -->

  </div>

</div>

{% include "footer.njk" %}
