<div class="navbar navbar-default navbar-fixed-top">

  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp; Narcissus</a>
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

  </div>

</div>
